* {
    color: #ddd;
    border: none;
}

QMainWindow, QDialog {
    background: #000;
    color: #ddd;
    border: none;
}

#frameTitle {
    border-style: outset;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-width: 2px;
    border-bottom-color: #333;
    border-left-width: 2px;
    border-left-color: #333;
    border-right-width: 2px;
    border-right-color: #333;
    padding-left: 2px;
    padding-right: 2px;
}

QProgressBar {
    background: #000;
    border: 2px solid #666;
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 18px;
}

QProgressBar::chunk {
    background: #ffa500;
    margin: 0.5px;
    width: 20px;
    border-radius: 2px;
}

MenuItem {
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    min-height: 35px;
    max-height: 35px;
    min-width: 220px;
    max-width: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
}

MenuItem[selected="true"] {
    color: #eee;
    border: 2px solid #ffa500;
    margin: 0;
    border-radius: 5px;
    font-size: 26px;
    font-weight: normal;
}
#lbRadioIcons {
    font-size: 12px;
    font-weight: bold;
}

QPushButton {
    border: 2px solid #666;
    border-radius: 5px;
    padding: 2px 5px 2px 2px;
}
